input[type="text"],
input[type ="password"]{
    width: 20%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}


button[class = 'btn-cadastrar'],
button[class = '.btn-login'] {
    display: inline-block;
    width: 6%;
    padding: 10px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

label {
    display: block;
    font-weight: bold;
}

form {
    font-family: Arial, sans-serif;
    background-color: rgba(8, 237, 80, 0.45);
    padding: 10px;
    box-sizing: border-box; /* Inclui padding na largura e altura */
}
.form-form{
    font-family: Arial, sans-serif;
    background-color: #00f7ff72;
}
